*,
*:before,
*:after{
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

.Container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Form{
    width: 100%;
    max-width: 300px;
    margin: auto;
}

.linkButton{
    text-align: center;
    margin: 15px 0;
}

.linkButton a{
    cursor: pointer !important;
}

.table{
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.Popup-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.Popup-Container.hidden{
    display: none;
}

.Popup-Container .Popup{
    background: #fff;
    width: 80%;
    min-height: 10px;
    padding: 10px 20px;
}

.Popup .close{
    display: block;
    padding: 15px;
}

.Popup h2{
    text-align: center;
    padding-bottom: 10px;
}

.Popup .Content{
    padding: 30px 0;
    max-width: 500px;
    margin: auto;
    width: 100%;
}